<html>


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>

    <div class="container" id="chat-box">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm|md|lg|xl-5">
                <div class="card">
                    <div id="convo-text">

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-7">
                                <input id="user-text" class="form-control" type="text">
                            </div>
                            <div class="col-sm-5">
                                <button type="button" class="btn btn-outline-success" onclick="interact()">Chat With Bot</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <style>
        .user-output{
            color: red;
        }

        .watson-output{
            color: blue;
        }

        #convo-text {
            height: 400px;
            width: 360px;
            overflow-y: scroll;
            margin-top: 10px;
            margin-left:20px;
        }
    </style>

    <script>
        function interact() {
            if (document.getElementById("user-text").value !== ''){
                writeUserOutput();
                writeWatsonOuput();
            }
        }

        function writeUserOutput(){
            let userTextPara = document.createElement("P");
            userTextPara.className = "user-output";
            let userText = document.createTextNode(`User: ${document.getElementById("user-text").value}`);
            userTextPara.appendChild(userText)
            document.getElementById('convo-text').appendChild(userTextPara);
        }

        function writeWatsonOuput() {
            let watsonTextPara = document.createElement("P");
            watsonTextPara.className = "watson-output";

            $.post('/watson',{interactionText: document.getElementById("user-text").value},function(data,status){
                let watsonResponse = document.createTextNode(`Tron: ${data}`);
                watsonTextPara.appendChild(watsonResponse)
                document.getElementById('convo-text').appendChild(watsonTextPara);
            });

        }
    </script>
</body>

</html>